

.grid {
    margin-bottom: 10px;
    @include clearfix;
    .item {
        float: left;
        @include imageGrid(3, 2%);
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}