//LOAD FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

//COLORS 
$red:      #E65C43;  //nav,header h1
$ored: #F25C43;  //background .headline
$white: #FFF;//nav hover, header h2, headline
$grey:     #666; //content h3, header h3
$darkgrey: #30353D; 
$text-color:  #022933; 
$background:#F5F6F6;

//COLORS FOOTER
$background-footer:#30353D;
// fonts
$font-body: Roboto, sans-serif; //font-size:1em;line-height:2em;

// COLORS for MEDIA
$color-item-border: $red;
//$color-media-head: $blue;



