

//nesting
header {
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;
    img {
        max-width:100%;
        height:auto;
    }
    h1 {
        //color:$red;
        //font-weight:100;
        font-size:1.5em;
        line-height:0; 
        @include break(459px) {
                font-size:2em;
            @include break(767px) {
                font-size:3em;
            }
            @include break(959px) {
                font-size:4em;
            }
        }
    }
    h2 {
        //color: $white;
        //font-weight:900;
        font-size:1.4em;
        line-height:0;
        margin-bottom:70px;
        @include break(459px) {
            font-size:1em;
        @include break(767px) {
            font-size:1.5em;
        }
        @include break(959px) {
            font-size:2.5em;
        }
    }
    }
    h3 {
        // (?)color: $white;
        //color: $grey;
        //font-weight:400;
        font-size:1em;
        line-height:0;
        margin-bottom:50px;
        @include break(459px) {
            font-size:1.5em;
        @include break(767px) {
            font-size:2em;
            // (?)color: $grey;
        }
    }
    }
}

#headline {
    width: 100%;
    height: 130px;
    background: $ored;
    margin: 0 auto;   
    text-align:center;
    h1 {
        color: $white;
        font-family: $font-body;
        font-size: 1.5rem;
        line-height: 105%;
        font-weight:100;
        padding-top:30px;
        @include break(459px) {
            font-size:2em;
            padding-top:50px;   
        @include break(767px) {
            font-size:2.5em;
        }
    }
}
}

header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
    @include break(459px) {
        margin-bottom: 100px;   
    @include break(767px) {
        margin-bottom: 0;
    }
}
}
//from _mixins.scss- math operation(for imgs),media query- break
#content {
       margin: 20px auto;
        width: 100%;
       @include clearfix;       
    .item {
        // width: 96%;
        // float: left; //none;
        margin: 0 2%;
        //@include contentItem(1, 2%);
        //background-color: green;
    }
    @include break(767px) {     
        width: 940px;
      .item {
        // width: 46%; 
        @include contentItem(2, 1%);      
        } 
    }
}
.greybar {
    display: none;
    @include break(459px) {
        display: block;
        width: 100%;
    height: 90px;
    background: $backgroundBar;
    //@include clearfix;      
    padding-top: 30px;
    }
}
footer {
    width: 100%;
    height: 120px;
    background: $darkgrey;
    text-align: center;
    color: $white;
    padding-top: 50px; 
    .social-media {
        margin: 0 auto;
        width: 165px;       
         @include backimage('../images/social-media.png',36px);
    }
    p {
        color: $white;
    }
}

