

figure  {
    width:400px;
    height:190px;
    background:url('../images/logo.png') no-repeat 0 50px;
    float:left;display:
    block;margin:0;
}
footer  {
    margin: 0; //put center
}



    ul {
        list-style-type: none;
        margin-top:95px;
        //@include clearfix;
    }

     // _mixins - break
    ul li {
        display:inline;
        font-size:0.8em;
        margin-right:10px; 
        //@include break(760px) {
        //     float: right;
        // }
       // float: right;
    }

    ul li a {
        //font-size: 1.3rem;
        text-decoration: none;
        letter-spacing:-0.01em;
        color: $red;

        &:hover {
            color: $white;
        }
    }

